{{ include('base.html.twig') }}
{% block body %}
    <main data-controller="hello" class="padding-4">
        <h1 class="text-4xl">Hello {{ title }}</h1>
        <a href="/login">LOGIN</a>
    </main>
{% endblock %}
